################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Racing_game/.vs/Racing_game/v15
/Racing_game/Debug
/Racing_game/Racing_game/Debug
